@import "tailwindcss";

@theme {
  --color-gray: #cacaca;
  --color-box: #171717;
  --color-input: #1a1a1a;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #000;
}

section {
  margin-bottom: 100px;
}
